@import './shared/styles/common.scss';

.calculator-container {
  @extend .gradient-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex: 0;
  background: white;
  box-shadow: 0 0 0 #fff, 0 0 0 #7d8084, inset -5px -5px 10px #636567, inset 1px -3px 5px 2px #000;
  border-radius: 5px;

  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 3rem;
  }
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
